@using BaGetter.Web.Extensions
@using BaGetter.Web.Helper
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Options

@inject IOptions<StatisticsOptions> StatisticsOptions
@inject ApplicationVersion Version

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="BaGet">
    <meta name="author" content="@Version.Authors">
    @Html.AddReleaseMetaTags()

    <link rel="shortcut icon" href="~/_content/BaGetter.Web/favicon.ico">

    <link rel="stylesheet" href="~/_content/BaGetter.Web/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/_content/BaGetter.Web/lib/office-ui-fabric-core/dist/css/fabric.min.css" />
    <link rel="stylesheet" href="~/_content/BaGetter.Web/css/site.css" />

    <title>Enter Co. plaginlarini yangilash portali</title>
</head>
<body>
    <header>
        <div class="container modal-header d-flex align-items-center">
            <a href="/" class="logo me-3">
                <img src="https://ofd.enter-co.uz/img-sys/logonew.png" alt="IIKO Fiscal Logo" style="height: 100px;">
            </a>

            <h1 class="mb-0">Enter Co. plaginlarini yangilash portali</h1>
        </div>
    </header> 

    <main role="main" class="container main-container">
        @RenderBody()
    </main>

    <footer class="footer">

    </footer>

    <script src="~/_content/BaGetter.Web/lib/alpinejs/dist/alpine.js"></script>

    <script src="~/_content/BaGetter.Web/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/_content/BaGetter.Web/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/_content/BaGetter.Web/js/site.js" asp-append-version="true"></script>

</body>
</html>
